*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.header_cub{
    position: absolute;
    width: 213px;
    height: 55px;
    left: 1109px;
    top: 12px;

    background: #FFFFFF;
}

.header_text1{
    position: absolute;
    width: 62px;
    height: 21px;
    left: 0px;
    top: 4px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

.header_text2{
    position: absolute;
    width: 45px;
    height: 21px;
    left: 121px;
    top: 4px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

.header_text3{
    position: absolute;
    width: 66px;
    height: 21px;
    left: 225px;
    top: 4px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

.header_text4{
    position: absolute;
    width: 145px;
    height: 21px;
    left: 350px;
    top: 4px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

.header_text5{
    position: absolute;
    width: 179px;
    height: 29px;
    left: 554px;
    top: 0px;


    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #0D1C41;
}